<div id="mining-softwares" class="download_title">Mining Softwares</div>

<div id="instructions" class="download_miner_title">Instructions</div>
{% comment %}
{% endcomment %}

<div class="block_table">
    <div class="text-font-14px">The core software to mine MAGI is the <a href="#cpu-miner-source" class="black-color">CPU miner</a> which is modified to include the M7M PoW hash function. Two major releases are available compiled by <a href="#cpu-miner-Spexx" class="black-color">Spexx</a>, and the MAGI team (<a href="#cpu-m-minerd" class="black-color">m-minerd</a>). <a href="#cpu-miner-NeedIfFindIt" class="black-color">NeedIfFindIt</a> released a frond-end GUI version for the easy setup, as well as, importantly, having control on the hashing rate in line with the MAGI's PoW block value. <a href="#cpu-m-cpuminer-qt" class="black-color">m-cpuminer-qt</a> is another GUI miner released by the MAGI team; the current version allows control on hashing at a fixed rate (by using -e flag).  </div>
    <a target="_blank" href="https://github.com/magi-project/m-cpuminer-v2">
    <div class="download-gen download_miner">Read more</div> 
    </a>
</div>

<div id="cpu-miner-source" class="download_miner_title">CPU Miner Source Code</div>
<div class="block_table">
    <a target="_blank" href="https://github.com/magi-project/m-cpuminer-v2">
    <div class="download-gen download_miner">https://github.com/magi-project/m-cpuminer-v2</div>
      
    </a>
</div>

<div id="cpu-miner-Spexx" class="download_miner_title">Windows binaries (by Spexx)</div>
<div class="block_table">
        <a target="_blank" href="http://www.coinmagi.org/files/m-cpuminer/Spexx/">
          <div class="download-gen download_miner">Download</div>
        </a>
</div>

<div id="cpu-miner-NeedIfFindIt" class="download_miner_title">Sweet Spot Magi Controller (by <a target="_blank" href="http://xmg.makejar.com" class="black-color">NeedIfFindIt</a>)</div>
<div class="block_table">
        <a target="_blank" href="http://www.coinmagi.org/files/m-cpuminer/NeedIfFindIt-Sweet-Spot/">
          <div class="download-gen download_miner">Download</div>
        </a>
</div>

<div id="cpu-m-minerd" class="download_miner_title">m-minerd</div>
<div class="block_table">
    <center>
        <a target="_blank" href="https://github.com/magi-project/m-cpuminer-v2/releases">
          <div class="download-gen download_miner">Github release</div>
        </a>

        <a target="_blank" href="http://www.coinmagi.org/files/m-cpuminer/m-minerd-64-win.zip">
          <div class="download-gen download_miner">Windows 64bit</div>
        </a>

        <a target="_blank" href="http://www.coinmagi.org/files/m-cpuminer/m-minerd-32-win.zip">
          <div class="download-gen download_miner">Windows 32bit</div>
        </a>

        <a target="_blank" href="http://www.coinmagi.org/files/m-cpuminer/m-minerd-macosx-10.7.dmg">
          <div class="download-gen download_miner">Mac OS X</div>
        </a>

        <a target="_blank" href="http://www.coinmagi.org/files/m-cpuminer/m-minerd-64-ubuntu.tar.gz">
          <div class="download-gen download_miner">Linux 64bit</div>
        </a>
    </center>
</div>

<div id="cpu-m-cpuminer-qt" class="download_miner_title">GUI m-cpuminer-qt</div>
<div class="block_table">
    <center>
        <a target="_blank" href="https://github.com/magi-project/m-cpuminer-qt/releases">
          <div class="download-gen download_miner">Github release</div>
        </a>

        <a target="_blank" href="http://www.coinmagi.org/files/m-cpuminer/m-cpuminer-qt-64-win.zip">
          <div class="download-gen download_miner">Windows 64bit</div>
        </a>

        <a target="_blank" href="http://www.coinmagi.org/files/m-cpuminer/m-cpuminer-qt-32-win.zip">
          <div class="download-gen download_miner">Windows 32bit</div>
        </a>

        <a target="_blank" href="http://www.coinmagi.org/files/m-cpuminer/m-cpuminer-qt-macosx-10.7.dmg">
          <div class="download-gen download_miner">Mac OS X</div>
        </a>

        <a target="_blank" href="http://www.coinmagi.org/files/m-cpuminer/m-cpuminer-qt-64-linux.tar.gz">
          <div class="download-gen download_miner">Linux 64bit</div>
        </a>

        <a target="_blank" href="https://github.com/magi-project/m-cpuminer-qt">
          <div class="download-gen download_miner">Source</div>
        </a>
    </center>
</div>

<div id="android-miner" class="download_miner_title">Android miner</div>
<div class="block_table">
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.kangaderoo.neoneonminer&hl=en">
          <div class="download-gen download_miner">Download</div>
        </a>
</div>
