<div id="wallets" class="download_title">MAGI Wallets</div>
<div class="block_table">
    <div class="text-font-14px">The m-wallet is the core software of running MAGI. It contains the frond-end GUI wallet (m-wallet) and the daemon (magid). The current official release binaries support Windows, Mac OS X, Linux and FreeBSD.
    </div>
    <br>
    <center>
    <div>
        <a target="_blank" href="{{ site.wallet_url }}/m-wallet-{{ site.wallet_version }}/m-wallet-{{ site.wallet_version }}-win-setup.exe">
          <div class="download dwnld_row">
            <img src="/assets/img/download/windows.svg" width=120px>
            <p>Windows Installer</p>
          </div>
        </a>

        <a target="_blank" href="{{ site.wallet_url }}/m-wallet-{{ site.wallet_version }}/m-wallet-{{ site.wallet_version }}-osx.dmg">
          <div class="download dwnld_row">
            <img src="/assets/img/download/osx.svg" width=120px>
            <p>Mac OS X</p>
          </div>
        </a>

        <a target="_blank" href="{{ site.wallet_url }}/m-wallet-{{ site.wallet_version }}/m-wallet-{{ site.wallet_version }}-linux.tar.gz">
          <div class="download dwnld_row">
            <img src="/assets/img/download/linux.svg" width=120px>
            <p>Linux</p>
          </div>
        </a>

        <a target="_blank" href="{{ site.wallet_url }}/m-wallet-{{ site.wallet_version }}/m-wallet-{{ site.wallet_version }}-freebsd.tar.gz">
          <div class="download dwnld_row">
            <img src="/assets/img/download/freebsd.svg" width=120px>
            <p>FreeBSD</p>
          </div>
        </a>

        <a target="_blank" href="{{ site.source_url_github }}">
          <div class="download dwnld_row">
            <img src="/assets/img/download/github.svg" width=120px>
            <p>Source</p>
          </div>
        </a>

        <a target="_blank" href="{{ site.wallet_url }}/m-wallet-{{ site.wallet_version }}">
          <div class="download dwnld_row_lastbox">
            <img src="/assets/img/download/more.svg" width=120px>
            <p>More</p>
          </div>
        </a>
    </div>
    </center>
</div>

