/*====================================
=            Banner style            =
====================================*/

.blog {
//  padding: 8em 2.5em 4em;
//  background: #2B7369 url("img/bg-blog.jpg") center top fixed;
  height: 4em;   
  background: url("img/bg-blog.jpg") no-repeat center center scroll;
  background-size: cover;
  line-height: 1.75;
  text-align: center;

  :last-child {
    margin-bottom: 0;
  }

  img {
    padding: 0px;
    border: 1px solid rgba($white-color, .3);
}

  h2 {
    font-family: $font-family-base;
    color: #ddd;
//    margin-bottom: 1.75em;
    font-size: 1.4em;
    text-transform: none;
    font-weight: 200;

    strong {
      color: #fff;
//      margin-top: 18%;
//      margin-bottom: 0.8em;
      display: block;
      font-weight: 400;
      font-size: 1.2em;
      line-height: 1.35;
    }
  }

  @include media($screen-tablet) {
//    padding: 10em 1.6em;

    h2 strong {
      margin-top: 4em;
      font-size: 1.6em;
    }
  }

  @include media($screen-desktop) {
//    padding: 1em 1.6em;

    h2 {
      font-size: 1.2em;

      strong {
        font-size: 1.8em;
      }
    }
  }


}