$page-spacing-y: 10px;
$page-spacing-x: 10px;

.page {
  @extend .card;
//  width: 100%;
  background-color: #fff;
  font-size: 14px;
  font-weight: $magi-font-weight-content;
  line-height: $magi-line-height-content;
  padding-bottom: 0;
  margin-bottom: 0;
  overflow: hidden;
  padding: $page-spacing-y ($page-spacing-x / 2) 0;
  cursor: pointer;
  float: left;
  color: $magi-blue-color;
  margin-left: $magi-margin-left;

  &:hover,
  &:active {
    background-color: rgba(76, 217, 0, .1); 
    text-decoration: underline;
  }

  @include media($screen-tablet) {
    padding: $page-spacing-y $page-spacing-x 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
  }

  h1 {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: .5em;

    @include media($screen-tablet) {
      font-size: 1.9em;
    }
  }

  .page-header {
    font-size: 25px;
    margin-bottom: 2em;
    border-bottom: 1px solid $border-color;
  }

  .page-meta {
    display: block;

    span, time {
      font-size: 1em;
      font-style: italic;
      margin-right: 10px;
    }

    span, time, a {
      color: $txt-color;
    }
  }

  blockquote,
  .highlight,
  .disqus {
    margin-left: -($page-spacing-x);
    margin-right: -($page-spacing-x);
  }

  .disqus {
    background-color: #f7f8f9;
    border-top: 1px solid #E3E3E3;
    padding-bottom: $page-spacing-y;
    padding-top: 2em;
  }

  .disqus,
  .highlight pre {
    padding-left: $page-spacing-x;
    padding-right: $page-spacing-x;
  }

  .highlight pre {
    padding-top: $page-spacing-y;
    padding-bottom: $page-spacing-y;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.page-gen {
//  width: 100%;
//  background-color: #fff;
  font-size: 14px;
  font-weight: $magi-font-weight-content;
  line-height: $magi-line-height-content;
  padding-bottom: 0;
  margin-bottom: 10px;
  overflow: hidden;
  padding: $page-spacing-y ($page-spacing-x / 2) 0;
  cursor: pointer;
  float: left;
  color: $magi-blue-color;
  margin-left: $magi-margin-left;

  &:hover,
  &:active {
    background-color: rgba(76, 217, 0, .1); 
    text-decoration: underline;
  }

  @include media($screen-tablet) {
    padding: 0 0 0 0;
  }
}

body:not(.single) {
  .page {
    padding-bottom: $page-spacing-y;
    margin-bottom: 4em;

    .page-title {
      @include font-size(22px);
      margin-bottom: .2em;

      @include media($screen-tablet) {
        @include font-size(30px);
        line-height: $line-height;
      }
    }

    .page-header {
      margin-bottom: .5em;
    }

    .page-title,
    a.read-more {
      text-decoration: none;
      color: $txt-color;

      &:focus,
      &:hover {
        color: $link-hover-color;
      }
    }
  }

    .page-gen {
    padding-bottom: $page-spacing-y;
    margin-bottom: 4em;

    .page-gen-title {
      @include font-size(22px);
      margin-bottom: .2em;

      @include media($screen-tablet) {
        @include font-size(30px);
        line-height: $line-height;
      }
    }

    .page-gen-header {
      margin-bottom: .5em;
    }

    .page-gen-title,
    a.read-more {
      text-decoration: none;
      color: $txt-color;

      &:focus,
      &:hover {
        color: $link-hover-color;
      }
    }
  }
}

.page-footer {
  position: relative;
  margin: em(30px) 0 0;
  padding: em(40px) 0 0;
  border-top: $border-color 1px solid;

  h4 {
    @include font-size(18px);
    font-weight: 300;
    margin: 0;
  }

  p {
    margin: em(10px) 0;
    @include font-size(14px);
  }

  .author {
    margin-right: 180px;
  }

  h4 a {
    color: #2e2e2e;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .share {
    position: absolute;
    width: em(140px);
    top: em(60px);
    right: 0;
    text-align: center;

    a {
      font-size: 1.6em;
      display: inline-block;
      margin: 0 .3em 0;
      color: $gray-color;
      text-decoration: none;
      border: none;

      &:hover {
        color: $txt-color;
      }
    }
  }

  @include media(max-width $screen-phone) {
    .author,
    .share {
      float: none;
      width: 100%;
      position: relative;
      margin: 0;
      text-align: center;
      clear: both;
    }

    .share {
      top: auto;
      margin-top: em(40px);
    }
  }
}

.page-gen-title {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: $magi-margin-left;
  font-weight: 500;
  font-size: 18px;
  color: $magi-black-color;
}

.page-title {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: $magi-margin-left;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: $magi-black-color;
}

.page-sub-title {
  margin-top: 15px;
  margin-bottom: 5px;
//  margin-left: $magi-margin-left;
  font-weight: 500;
  font-size: 15px;
  color: $magi-black-color;
  text-decoration: underline;
}

.page-default-margin {
  margin-left: $magi-margin-left;
}

.page-default-margin-2 {
  margin-left: 55px;
}

