<div id="about-magi" class="page-title">About Coin MAGI</div>
<div class="block_table text-font-14px">
<p>Coin MAGI (ticker symbol: XMG) is a digital payment solution. MAGI is decentralized and running constantly without downtime and the need of interference by intermediary, authorities and censorship. People can make payments using MAGI to anyone in the world freely. In the meantime, anyone can issue MAGI coins through their personal computers and a software-based minting process.</p>

<p>Magi is at the first concentrating on the low cost in maintaining its block system, for example, through cost effective mining devices. To this end, Magi, aiming at fairness, cost effective and energy efficiency, strives to make mining be available to everyone, and provides an even playing field for people looking to issue digital coins without expensive equipment. </p>

<p>MAGI hybridizes the proof-of-work and proof-of-stake protocols, i.e., mPoW and mPoS; mPoW and mPoS stand for MAGI's proof-of-work and proof-of-stake, respectively. </p>
</div>
