<div id="community" class="page-title">Community</div>
<div class="block_table">
    <center>
        <a target="_blank" href="https://kiwiirc.com/client/irc.freenode.net/#magi">
          <div class="page page-row">
            <img src="/assets/img/Community/freenode.svg" width=150px>
            <p>Freenode IRC</p>
          </div>
        </a>

        <a target="_blank" href="https://m-pays.slack.com/join/shared_invite/MjA2OTEwNjMxMTcyLTE0OTkwMTAzNjQtODdmMzY5NjRmNA">
          <div class="page page-row">
            <img src="/assets/img/Community/slack.svg" width=150px>
            <p>Slack</p>
          </div>
        </a>

        <a target="_blank" href="https://www.youtube.com/user/TheCoinMagi">
          <div class="page page-row">
            <img src="/assets/img/Community/youtube.svg" width=150px>
            <p>Youtube</p>
          </div>
        </a>

        <a target="_blank" href="https://bitcointalk.org/index.php?topic=735170.0">
          <div class="page page-row">
            <img src="/assets/img/Community/bitcointalk.svg" width=150px>
            <p>MAGI Thread</p>
          </div>
        </a>

        <a target="_blank" href="http://www.facebook.com/CoinMagi">
          <div class="page page-row">
            <img src="/assets/img/Community/facebook.svg" width=150px>
            <p>Facebook</p>
          </div>
        </a>

        <a target="_blank" href="https://twitter.com/CoinMagi">
          <div class="page page-row">
            <img src="/assets/img/Community/twitter.svg" width=150px>
            <p>Twitter DEV</p>
          </div>
        </a>

        <a target="_blank" href="https://twitter.com/Coin_Magi_XMG">
          <div class="page page-row-lastbox">
            <img src="/assets/img/Community/twitter.svg" width=150px>
            <p>Twitter Marketing</p>
          </div>
        </a>
</div>