<div id="faq" class="page-gen-title">FAQ</div>

<div class="block_table text-font-14px black-color">
<ul style="list-style-type:square">
    <li><a href="#faq-staking-not-enough-weight" class="black-color">The staking has "Not enough weight", what should I do?</a></li>
</ul>
</div>

<div class="block_table text-font-14px">


<div id="faq-staking-not-enough-weight" class="page-sub-title">The staking has "Not enough weight", what should I do?</div>
<p>For the regular PoS, "Not enough weight" means insufficient staking time. For Magi's PoS (mPoS), however, the cause can be correlated with the over-time staking. The latter is a typical issue raised by people from time to time. There is only one way to solve this which can be done via resetting staking from scratch: send XMG to another address in the same or another wallet. You may want to use the "Coin control" feature in order to select the input sources. Do not try to stake with a significant amount of XMG that mitigates the weight as well. Once this is done, remaining the wallet running shall gains some staking weights. </p>


</div>

