<div id="m-core" class="page-title">m-core and m-wallet</div>
<div class="block_table text-font-14px">
<p>m-core is the core of the MAGI currency system. m-core is implemented as m-wallet, which has two forms, aka, the daemon and the GUI wallet (currently using Qt implementation). m-wallet is a peer-to-peer open source software that stores a public ledger of MAGI and determines the best block chain containing valid transactions. </p>

<p>A device installed with m-wallet is qualified to become a node. A variety of devices running the nodes compose the MAGI Network. Each of the nodes censors which the block chain is best and valid independently. It is of vital importance to have them in order to keep MAGI decentralized. </p>

<p>m-wallet allows one to send coins to other people and to receive coins from others. m-wallet also allows for mining coin using the mPoW protocol and minting coin using the mPoS protocol. </p>
</div>