<div id="m-pays" class="page-gen-title">MagiPay (m-pays)</div>
<div class="block_table text-font-14px">
<p>MagiPay is a payment gateway for Coin MAGI. The motivation of developing MagiPay is to have the MAGI being used in a relatively easy way. MagiPay is standalone and unique to coin MAGI. Features: </p>
<ul>
    <li>Using MagiPay is totally free for Merchants; customers have to pay transaction fees. </li>
    <li>MagiPay is uniquely designed for Coin Magi, independent of any other payment gateways. Custom requests will be sent to tailoring MagiPay functions.</li>
    <li>No payments are held by our server. Funds are available to merchants upon 6 confirmations. </li>
<p></p>
</ul>
<div class="link">
<p>Website: <a target="_blank" href="https://m-pays.com">https://m-pays.com</a></p>
</div>

<div class="link">
    <a href="https://github.com/magi-project/m-cpuminer-v2">Read more about the MagiPay project</a>
</div>
</div>