<div id="mpow-mining" class="page-title">Proof-of-Work Mining</div>
<div class="block_table text-font-14px">
<p>Proof-of-work mining utilizes a device's computing resources to build blocks one at a time. The building of a block that is censored by remaining devices (miners) accomplishes processing the transactions in MAGI's network as well. A block that once is built goes into the blockchain. The miner will receive a reward upon building a block. It should be noted, however, that MAGI's proof-of-Work mining does not guarantee the amount of reward proportional to hashrate of the miner. In the extreme condition, huge hashrate leads to trivial reward. </p>

<p>At the present configuration, 100% mPoW reward goes to Miners, and no reward is reserved for the MAGI team.</p>

<div class="page-sub-title">Download Miners</div>

<div class="link">
<div><a target="_blank" href="/download#mining-softwares">Link to CPU miners</a></div>
<div><a target="_blank" href="/download#android-miner">Link to Android miner</a></div>
</div>

<div class="page-sub-title">Mining Pools</div>
<p>For pool mining, register one of the following pools. Once registered, create a worker that will be used by the miner to login. </p>
<ui>
    <li>Suprnova: <a target="_blank" href="http://xmg.suprnova.cc" class="black-color">http://xmg.suprnova.cc</a></li>
    <li>MaxMiners: <a target="_blank" href="https://xmg.maxminers.net" class="black-color">https://xmg.maxminers.net</a></li>
    <li>m-hash: <a target="_blank" href="https://pom.m-hash.com" class="black-color">https://pom.m-hash.com</a></li>
    <li>MinerClaim: <a target="_blank" href="http://minerclaim.net" class="black-color">http://minerclaim.net</a></li>
</ui>

<div id="mpow-pool-mining" class="page-sub-title">Pool Mining</div>

<p>Pool mining refers to that multiple miners contribute to the generation of a block; the block reward is divided among miners according to individual contributed hashrate. The basic command to run the miner is as follows: 

{% highlight ruby %}
minerd -o stratum+tcp://xmg.suprnova.cc:7128 -u Weblogin.WorkerName -p WorkerPassword -t thread_numbers -e cpu_efficiency
{% endhighlight %}

where "xmg.suprnova.cc" is an example, Weblogin.WorkerName"" and "WorkerPassword"" are the worker and password of the pool. The option "-e cpu_efficiency" is to set how much CPU usage is utilized; cpu_efficiency has to be between 1 - 100. Example: "-e 50" means 50% CPU usage. </p>

<div id="mpow-solo-mining" class="page-sub-title">Solo Mining</div>
<p>Under the mPoW scheme, solo mining is still feasible. </p>

<p>Firstly, edit magi.conf to include the following lines:
{% highlight ruby %}
daemon=1
server=1
rpcport=8232
rpcallowip=127.0.0.1
rpcuser=randome_username
rpcpassword=randome_rpcpassword
{% endhighlight %}

magi.conf is located under folder ~/.magi (Linux) or %appdata%\magi (Windows). </p>

<p>Secondly, run minerd to enable sole mining: 

{% highlight ruby %}
minerd -url http://127.0.0.1:8232 -u randome_username -p randome_rpcpassword -t thread_numbers  -e cpu_efficiency
{% endhighlight %}

where 8232 is the rpcport, randome_username and randome_rpcpassword are username and password you set in magi.conf. The option "-e cpu_efficiency" is to set how much CPU usage is utilized; cpu_efficiency has to be between 1 - 100. Example: "-e 50" means 50% CPU usage.
</p>
</div>

<div id="mpos-mining" class="page-title">Proof-of-Stake Minting</div>
<div class="block_table text-font-14px">
<p>Different from PoW mining, in proof-of-stake (PoS) minting one can mine and validate block transactions according to the amount of coins in wallet and the amount of time staked, the combination of which composes the computational power for PoS, i.e., coin age, or stake weight. </p>

<p>In MAGI's implementation of PoS (aka mPoS), the stake weight is conditionally proportional to amount of coins and duration of stake. The maximum staking time is limited within one week; that is, the offline time should not exceed more than a week. There is no advantage of gaining offline coin age for more than four days. In addition, increase in the number of coins in stake does not always lead to higher stake weight. </p>

<p>To stake with mPoS, it is recommended to keep at most 1000 XMG in one address. If one has more than 1000 XMG in wallet, split the coins into multiple fractions, and send these fractions to different addresses. Before enabling stake, the following settings are strongly recommended to be set in magi.conf:  

{% highlight ruby %}
# Transaction under stake with a value greater than the threshold is being splitted
stakesplitthreshold=1000

# Transactions with values less than the threshold will combine into one
stakecombinethreshold=500
{% endhighlight %}
</p>
</div>
