<div id="specifications" class="page-title">Coin specifications</div>
<div class="block_table text-font-14px">
<ul>
    <li>Symbol: Σ</a>
    <li>Logo (v2): <a target="_blank" href="http://coinmagi.org/files/logo/v2" class="link">Link</a> (v1: <a target="_blank" href="http://coinmagi.org/files/logo/v1" class="link">Link</a>)
    <li>Total supply: 25 million</a>
    <li>RPC: 8232</a>
    <li>P2P: 8233</a>
</ul>
</div>

<div class="page-sub-title page-default-margin">Proof of Work (mPoW - MAGI's PoW)</div>
<div class="block_table text-font-14px">
<ul>
    <li>Specific PoW block reward design to maintain the network hashrate and make mining available to CPU</li>
    <li>M7M (v2) PoW hash function</li>
    <li>Block time - 3 minutes</li>
    <li>MagiQuantumWave (MQW) difficulty adjustment per block</li>
</ul>
</div>

<div class="page-sub-title page-default-margin">Proof of Staking (mPoS - MAGI's PoS)</div>
<div class="block_table text-font-14px">
<ul>
    <li>Specific PoW block reward design to maintain the network hashrate and make mining available to CPU</li>
    <li>Security enhanced - Variable coin age depending on the staking time</li>
    <li>Minimum coin age - 2 hours</li>
    <li>Interest rate - network weight dependent with maximum 5%;</li>
    <li>Block time - 1.5 minutes</li>
    <li>Block hash - SHA256</li>
    <li>Maturity: 120</li>
</ul>
</div>
