

<h2 id="downloads" class="text-center">Downloads</h2>
<center>
<table class="table_download">
  <tbody>
    <tr>
      <td>
        <center>
        <a style="display:block" target="_blank" href="{{ site.wallet_url }}/m-wallet-{{ site.wallet_version }}/m-wallet-{{ site.wallet_version }}-win-setup.exe">
          <div class="download dwnld_row_win">
            <img src="/assets/img/download/windows.svg" width=100px>
            <p>Windows Installer</p>
            <p>Windows ZIP (32)</p>
            <p>Windows ZIP (64)</p>
          </div>
        </a>
        </center>
      </td>
      <td>
<center>
<a style="display:block" target="_blank" href="{{ site.wallet_url }}/m-wallet-{{ site.wallet_version }}/m-wallet-{{ site.wallet_version }}-osx.dmg">
  <div class="download dwnld_row_others">
    <img src="/assets/img/download/osx.svg" width=100px>
    <p>Mac OS X</p>
  </div>
</a>
</center>
      </td>

      <td>
<center>
<a style="display:block" target="_blank" href="{{ site.wallet_url }}/m-wallet-{{ site.wallet_version }}/m-wallet-{{ site.wallet_version }}-linux.tar.gz">
  <div class="download dwnld_row_others">
    <img src="/assets/img/download/linux.svg" width=100px>
    <p>Linux</p>
  </div>
</a>
</center>
      </td>

      <td>
<center>
<a style="display:block" target="_blank" href="{{ site.wallet_url }}/m-wallet-{{ site.wallet_version }}/m-wallet-{{ site.wallet_version }}-freebsd.tar.gz">
  <div class="download dwnld_row_others">
    <img src="/assets/img/download/freebsd.svg" width=100px>
    <p>FreeBSD</p>
  </div>
</a>
</center>
      </td>

      <td>
<center>
<a style="display:block" target="_blank" href="{{ site.source_url_github }}">
  <div class="download dwnld_row_others dwnld_lastbox">
    <img src="/assets/img/download/github.svg" width=100px>
    <p>Source</p>
  </div>
</a>
</center>
      </td>

    </tr>
  </tbody>
</table>
</center>
<h6 class="text-center redcolor">(v{{ site.wallet_version }})</h6>
