
<br><br>
<h2 id="exchanges" class="text-center">Exchanges</h2>
<center>
<table>
  <tbody>
    <tr>
      <td>
<center>
<a style="display:block" target="_blank" href="https://bittrex.com/Market/?MarketName=BTC-XMG">
  <div class="exchange exchange_row_win">
    <img src="/assets/img/exchange/bittrex.png" width=150px>
  </div>
</a>
</center>
      </td>

      <td>
<center>
<a style="display:block" target="_blank" href="https://www.cryptopia.co.nz/Exchange/?market=XMG_BTC">
  <div class="exchange exchange_row_win">
    <img src="/assets/img/exchange/cryptopia.png" width=200px>
  </div>
</a>
</center>
      </td>

      <td>
<center>
<a style="display:block" target="_blank" href="https://novaexchange.com/market/BTC_XMG">
  <div class="exchange exchange_row_win">
    <img src="/assets/img/exchange/novaexchange.png" width=150px>
  </div>
</a>
</center>
      </td>

      <td>
<center>
<a style="display:block" target="_blank" href="https://cryptodao.com/site/index/XMG">
  <div class="exchange exchange_row_win exchange_lastbox">
    <img src="/assets/img/exchange/cryptodao.png" width=150px>
  </div>
</a>
</center>
      </td>
    </tr>

  </tbody>
</table>
</center>
