{% comment %}
<div class="text-center about-title text-uppercase">Why MAGI?</div>
{% endcomment %}

<div class="block_table">
<div class="feature">
    <header class="feature-header">
        <h1 class="feature-title"><a href="/resources#design">Vision</a></h1>
    </header>
    <p class="about-text">MAGI, firstly as a cryptocurrency, emphasizes the decentralization nature, which is manifested in part as implementation on its own revisions of the proof-of-work and proof-of-sake protocols. MAGI is an open source software with no reservation of mining rewards for any parties including the team. Decentralization calls on rejection of huge computational power for mining, immediately benefiting energy savings. Decentralization also calls on mining availability to general users. MAGI is currently following the <a href="https://roadmap.coinmagi.org" class="black-color">development plan</a>. <a href="/resources#design" class="black-color">Read More &raquo;</a></p>
</div>

<div class="feature">
    <header class="feature-header">
        <h1 class="feature-title"><a href="">Energy Efficiency</a></h1>
    </header>
    <p class="about-text">MAGI concentrates on global energy savings when maintaining its blockchain system. MAGI aims at worldwide mining based on, for example, mobile devices. MAGI's PoW with difficulty dependent mining rewards applies a limit to the total network hashrate, where huge amount of computational power for mining is no longer necessary. <a href="/resources#about-magi" class="black-color">Read More &raquo;</a></p>
</div>

<div class="feature">
    <header class="feature-header">
        <h1 class="feature-title"><a href="">MAGI's Proof-of-Work</a></h1>
    </header>
    <p class="about-text">MAGI's proof-of-work (mPoW) protocol advocates in part a network-dependent rewarding system, configured using an attraction-repulsion model. mPoW effectively governs MAGI's network and confines it under a certain scale. MAGI looks forward to the further optimized protocol in order to fully achieve the target missions. <a href="/resources#mpow" class="black-color">Read More &raquo;</a></p>
</div>

<div class="feature">
    <header class="feature-header">
        <h1 class="feature-title"><a href="">MAGI's Proof-of-Stake</a></h1>
    </header>
    <p class="about-text">MAGI's Proof-of-Stake (mPoS) protocol brings novel revisions to the generic POS by making conditional mining force (i.e., coin age). Significant mining force by accumulating either a large amount of coins or offline staking time no longer works for MAGI, leading to both enhanced security, and healthy and fairness. <a href="/resources#mpos" class="black-color">Read More &raquo;</a></p>
</div>

<div class="feature">
    <header class="feature-header">
        <h1 class="feature-title"><a href="">Development</a></h1>
    </header>
    <p class="about-text">MAGI is an open source project. Anyone can work on MAGI's <a href="https://github.com/magi-project/magi" class="black-color">source code</a>. Currently, the MAGI team follows the <a href="https://roadmap.coinmagi.org" class="black-color">roadmap</a> and on-going <a href="/projects" class="black-color">projects</a> for developments. Primary focuses are given to overall improvement to fulfill the goals, mining experience, wallet development, option of anonymity, and blockchain applications. One of the on-going projects is the MagiPay (m-pays) for MAGI to be integrated with business easily. </p>
</div>

</div>


