
<h2 class="text-center">Why MAGI?</h2>

<section class="feature_2_column">
  <div class="feature">
    <header class="feature-header">
      <h1 class="feature-title"><a href="" title="vision">Vision</a></h1>
    </header>
      <p>MAGI, as a digital cryptocurrency, aims at its decentralization nature at the first place. MAGI hybridizes the proof-of-work and proof-of-sake protocols, and puts efforts into providing an even playing field for people looking to mint coins. </p>
      <footer class="read-more" style="text-align:right"><a href="#">Read More &raquo;</a></footer>
  </div>

  <div class="feature">
    <header class="feature-header">
      <h1 class="feature-title"><a href="" title="mPoS">Efficiency</a></h1>
    </header>
      <p>MAGI concentrates on global energy savings when maintaining its public ledger by enabling low cost mining. Along with cost effective and energy efficiency, MAGI makes mining be available to general users.</p>
      <footer class="read-more" style="text-align:right"><a href="#">Read More &raquo;</a></footer>
  </div>


  <div class="feature">
    <header class="feature-header">
      <h1 class="feature-title"><a href="" title="vision">mPoW</a></h1>
    </header>
      <p>MAGI advocates mPoW as the proof-of-work protocol which is in part a network-dependent rewarding model system, constructed based on an attraction-repulsion model. mPoW effectively governs MAGI's network and confines it under a certain scale. </p>
      <footer class="read-more" style="text-align:right"><a href="#">Read More &raquo;</a></footer>
  </div>

  <div class="feature feature_2_column">
    <header class="feature-header">
      <h1 class="feature-title"><a href="" title="mPoS">mPoS</a></h1>
    </header>
      <p>MAGI also at the first implement mPoS as its proof-of-stake. mPoS is designed such that it rejects potential attacks through accumulating a large amount of coins or offline staking time, either of which leads to security concerns.</p>
      <footer class="read-more" style="text-align:right"><a href="#">Read More &raquo;</a></footer>
  </div>
  

</section>

