<footer class="footer">
<div class="container">
<ul class="icons">
    <li>
        <a href="{{ site.github }}" class="icon-github" target="_blank"><i class="fa fa-github"></i>
        </a>
    </li>

    <li>
        <a href="{{ site.twitterofficial }}" class="icon-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>

    <li>
        <a href="{{ site.facebook }}" class="icon-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    </li>

    <li>
        <a href="{{ site.reddit }}" class="icon-reddit" target="_blank"><i class="fa fa-reddit"></i></a>
    </li>

    <li>
        <a href="{{ site.youtube }}" class="icon-youtube" target="_blank"><i class="fa fa-youtube"></i></a>
    </li>

    <li>
        <a href="{{ site.slack }}" class="icon-slack" target="_blank"><i class="fa fa-slack"></i></a>
    </li>
</ul>

<small class="clearfix text-gen-font-13px">
    &copy; 2014-{{ site.time | date: "%Y" }} The Coin MAGI Project
</small>
</div>
</footer>

<a class="scroll-up fa fa-chevron-up bounce" href="#" data-position="0"></a>