<section class="getting_started">

  <h2 class="animated hinge fadeInDown" itemscope itemtype="http://schema.org/Person">

  <strong itemprop="name">Getting Started..</strong> 

  </h2>

  <nav class="actions">
    <a href="/download" class="button btn-gs">Download</a>
    <a href="/resources/exchanges.html" class="button btn-gs">Exchanges</a>
    <a href="/resources/mining.html" class="button btn-gs">Mining</a>
    <a href="/resources/community.html" class="button btn-gs">Community</a>
    <a href="/resources" class="button btn-gs">Resources</a>
    <a href="https://roadmap.coinmagi.org" class="button btn-gs">Roadmap</a>
    <a href="/resources/faq.html" class="button btn-gs">FAQ</a>
  </nav>

</section>