<section class="getting_started">

  <h2 class="animated hinge fadeInDown" itemscope itemtype="http://schema.org/Person">

  <strong itemprop="name">Getting Started..</strong> 

  </h2>

  <nav class="actions">
    <a href="#exchanges" class="button btnb">Exchanges</a>
    <a href="#downloads" class="button btnb">Downloads</a>
    <a href="#exchanges" class="button btnb">Mine MAGI</a>
    <a href="#exchanges" class="button btnb">Community</a>
    <a href="#exchanges" class="button btnb">F.A.Q</a>
  </nav>

</section>