<section class="getting_started">

  <h2 class="animated hinge fadeInDown" itemscope itemtype="http://schema.org/Person">

  <strong itemprop="name">Getting Started..</strong> 

  </h2>

  <nav class="actions">
    <a href="/resources/exchanges.html" class="button btnb">Exchanges</a>
    <a href="/download" class="button btnb">Downloads</a>
    <a href="/resources/#mining" class="button btnb">Mining</a>
    <a href="/resources/#community" class="button btnb">Community</a>
    <a href="/resources/faq" class="button btnb">F.A.Q</a>
  </nav>

</section>