{% strip %}<!DOCTYPE html>
<html class="no-js" lang="pt-br">
  <head>
{% include layout/head.html %}
  </head>
  <body class="{% if page.post_class %}{{page.post_class}}{% endif %} {% if page.slug %}{{page.slug}}{% endif %}">
  {% include layout/head-menu.html %}

    {% if page.slug == 'home' %}
      {% include layout/banner.html %}
    {% endif %}

    {% include layout/content.html %}

{% comment %}
    {% include layout/footer.html %}
    {% include layout/search-modal.html %}

    <main class="wrapper container" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
      {{ content }}
    </main>

    {% include layout/footer.html %}

    {% include layout/search-modal.html %}

    {% javascript main %}
    {% if page.slug == 'projects' %}
        {% javascript jquery.github %}
    {% endif %}
{% endcomment %}

  </body>
</html>{% endstrip %}